@font-face {
    font-family: 'Oswald';
    src: url(fuentes/Oswald/Oswald-VariableFont_wght.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url(fuentes/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url(fuentes/Quicksand/Quicksand-VariableFont_wght.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(fuentes/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
    font-weight: 400;
    font-style: normal;
}

/* Header */

header {
    height: 102px;
    background-color: #9BF2EA;
}

.nav-link {
    font-family: 'Quicksand';
    color: black;
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.active { /* Sitio activo */
    text-decoration: 0.25rem underline #030A8C;
}

#nombreSitio {
    font-family: 'Oswald';
    color: black;
    font-size: 2rem;
    line-height: 1.813rem;
}

/* Body */

#botonVerMas {
    height: 43px;
    width: 128px;
    background-color: #9BF2EA;
    
    font-family: 'Quicksand';
    color: black;
    font-size: 1.5rem;
    line-height: 1.875rem;
    text-align: center;
    border-radius: 30px;

}

/* Seccion textos */

#containerTextos {
    min-height: 1100px;
}

#containerQueEsX {
    margin-top: 116px;
    margin-bottom: 250px;
}

#tituloQueEsX, #tituloPorQueElegirnos {
    font-family: 'Roboto Mono';
    color: #8979F2;
    font-size: 2.625rem;
    line-height: 1.625rem;
}

#textoQueEsX, #textoPorQueElegirnos {
    font-family: 'Quicksand';
    color: #8979F2;
    font-size: 1.5rem;
    line-height: 1.875rem;
}

/* Seccion Operaciones */

#containerOperaciones {
    min-height: 565px;
    background-color: #030A8C;
}

#tituloOperaciones {
    font-family: 'Roboto Mono';
    color: white;
    font-size: 2.5rem;
    line-height: 1.625;
}

#tarjetaOperacion {
    height: 300px;
    width: 300px;
    background-color: #9BF2EA;
    border-radius: 30px;

    font-family: 'Roboto Mono';
    color: #030A8C;
    font-size: 2.5rem;
    line-height: 2.813rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
}

/* Seccion Beneficios */

#tituloBeneficios {
    font-family: 'Roboto Mono';
    color: #8979F2;
    font-size: 2.5rem;
    line-height: 2.813rem;
}

#tituloSlider {
    font-family: 'Roboto Condensed';
    color: white;
    font-style: italic;
    font-size: 2.25rem;
    line-height: 1.563rem;
}

#textoSlider {
    font-family: 'Roboto Condensed';
    color: white;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/* Footer */ 

footer {
    background-color: #5DABFF;
    min-height: 197px;
}

#tituloFooter {
    font-family: 'Roboto Mono';
    color: white;
    font-size: 2.5rem;
    line-height: 2.813rem;
}

#textoFooter {
    font-family: 'Quicksand';
    color: white;
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.botonAyuda {
    font-family: 'Quicksand';
    color: #5DABFF;
    font-size: 1.5rem;
    line-height: 1.875rem;
    height: 63px;
    width: 160px;
    background-color: white;
    border-radius: 10px;
}

.botonAyuda:hover {
    color: white;
    background-color: #030A8C;
}

@media (max-width: 767.98px) {

    /* Header */

    .nav-link {
        font-family: 'Quicksand';
        color: black;
        font-size: 1.25rem;
        line-height: 1.875rem;
    }

    .active { /* Sitio activo */
        text-decoration: 4px underline #4B4B4B;
    }

    #nombreSitio {
        font-size: 1.75rem;
        line-height: 1.813rem;
    }

    .navbar-toggler {
        margin-top: 20px;
        margin-left: 50px;
        background-color: #030A8C;
        color: #8979F2;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
      
      .custom-toggler.navbar-toggler {
        border-color: white;
        border-width: 2px;
      } 

    #iconoIniciarSesion, #iconoCrearCuenta {
        display: none;
    }

    .navbar-collapse {
        background-color: #9BF2EA;
    }

    #botonVerMas {
        height: 40px;
        width: 100px;
        background-color: #9BF2EA;
        
        font-size: 1.1rem;
        line-height: 1.8rem;
        text-align: center;
        border-radius: 30px;
    
    }

    /* Textos introductorios */

    #containerTextos {
        min-height: 900px;
    }
    
    #containerQueEsX {
        margin-top: 75px;
        margin-bottom: 75px;
    }

    #tituloQueEsX, #tituloPorQueElegirnos {
        font-size: 25px;
    }
    #textoQueEsX, #textoPorQueElegirnos {
        font-size: 20px;
    }

    /* Operaciones */

    #tituloOperaciones {
        font-size: 1.8rem;
        line-height: 1.25rem;
    }

    #tarjetaOperacion {
        height: 125px;
        width: auto;
        background-color: #9BF2EA;
        border-radius: 30px;
    
        font-family: 'Roboto Mono';
        color: #030A8C;
        font-size: 1.25rem;
        line-height: 1.875rem;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: nowrap;

    }

    #iconoOp {
        height: 75px;
        width: 75px;
    }

    /* Beneficios */

    #tituloBeneficios {
        font-size: 1.8rem;
    }

    #tituloSlider {
        font-size: 1.5rem;
    }

    #textoSlider {
        font-size: 1.3rem;
    }

    #imagenSlider {
        height: 350px;
    }

    /* Footer */ 

    footer {
        background-color: #5DABFF;
        min-height: 197px;
    }

    #tituloFooter {
        font-size: 1.5rem;
        line-height: 1.875rem;
    }

    #textoFooter {
        font-size: 1.125rem;
        line-height: 1.563rem;
    }

    #iconoRed {
        height: 35px;
        width: 35px;
    }

    .botonAyuda {
        font-size: 1.25rem;
        line-height: 1.875rem;
        border-radius: 10px;
    }

    #infoContacto {
        text-align: center;
    }
}
